body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #4776e6;
  background-image: linear-gradient(to left, #4776e6, #8e54e9);
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
::-webkit-scrollbar {
  display: none;
}

h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  list-style: none;
}

.Ipod {
  margin: 5% auto;
  width: 20em;
  background: #dadada;
  height: 30em;
  border-radius: 1.3em;
  box-shadow: inset 0 0 2.4em #555;
}

/* IpodWheel component styles */

#circle {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 190px;
  background-color: #fff;
  box-shadow: 1px 5px 20px #555;
  border-radius: 50%;
  touch-action: none;
}

/* Button component styles */
#circle .menuBtn {
  position: absolute;
  top: 9%;
  left: 37%;
  user-select: none;
  touch-action: none;
}

#circle .playPauseBtn {
  position: absolute;
  bottom: 6%;
  left: 42%;
  user-select: none;
  touch-action: none;
}

#circle .nextBtn {
  position: absolute;
  top: 45%;
  right: 5%;
  user-select: none;
  touch-action: none;
}

#circle .prevBtn {
  position: absolute;
  top: 45%;
  left: 5%;
  user-select: none;
  touch-action: none;
}

#circle .centerBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #dcdcdc;
  border-radius: 50%;
  box-shadow: inset 0 0 2.4em rgb(187, 181, 181);
  top: 37%;
  left: 36%;
}

/* screen styles */
.Ipod .screen {
  position: relative;
  top: 0.9em;
  margin: 0 auto;
  width: 17em;
  height: 13em;
  background: #3e3d3d;
  color: #cbcbcb;
  border: 2px solid rgb(179, 137, 137);
  animation: fadeFromBlack 0.5s;
  border-radius: 0.3125em;
  overflow: hidden;
}

@keyframes fadeFromBlack {
  0% {
    filter: brightness(0);
  }
}

/* Title bar Styles */

.titlebar {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 14%;
  text-align: center;
  border-bottom: 1px solid #252521;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-icon {
  position: absolute;
  display: inline-block;
  top: 12%;
  left: 10px;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
}

.battery {
  position: absolute;
  right: 4px;
  height: 40px;
  width: 100px;
}

.battery.small {
  transform: scale(0.5, 0.5);
  transform-origin: 125% 30%;
}

.screen .menu-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  position: relative;
  top: 15%;
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    transform: scale(0.5, 0.5);
  }
  to {
    transform: scale(1, 1);
  }
}

.menu-options .option {
  padding-left: 12px;
  padding-bottom: 4px;
}

.menu-options .option:after {
  content: "";
  position: absolute;
  right: 18px;
  width: 7px;
  height: 7px;
  border-right: 3px solid #c1c1ba;
  border-bottom: 3px solid #c1c1ba;
  transform: rotate(-45deg) skew(7deg, 7deg);
  transform-origin: 180%;
}

.menu-options .option.selected,
.song-card.selected {
  font-weight: bold;
  background: linear-gradient(rgb(60, 184, 255) 0%, rgb(52, 122, 181) 100%);
  color: #fff;
  border-bottom: 2px solid #484647;
}

.option.selected:after {
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

/* MusicPlayer CSS */
.player-wrapper {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 5px 117px 5px;
  margin-top: 28px;
  animation: fade 0.5s;
}

.react-player {
  position: absolute;
  top: 10px;
  left: 0;
}

/* games and settings styles */
.gameWrapper {
  position: relative;
  padding-top: 28px;
  width: 17.2em;
  height: 13em;
  animation: fade 0.5s;
}

.custom .gameWrapper {
  padding-left: 0;
}
.gameWrapper > img {
  height: 100%;
  width: 100%;
}

/* Music.js styles */
.music-list {
  position: relative;
  margin-top: 30px;
  margin-bottom: 3px;
  animation: fade 0.5s;
}

.music-list .song-card {
  display: flex;
  box-shadow: 0 0 1px 0 #0b0b0c, 0 0 0 0px #616060;
  padding: 0;
  border-radius: 2px;
  border: none;
}

.music-list .song-card:not(:first-child) {
  margin-top: 6px;
}

.music-list .song-card .left {
  flex: 1;
  width: 30px;
  height: 30px;
}

.music-list .song-card .left img {
  height: 28px;
  width: 32px;
}

.music-list .song-card .right {
  position: relative;
  flex: 10;
  height: 30px;
  width: 30px;
}

.song-card .right .song-singer,
.song-title {
  font-size: 10px;
  text-align: right;
  padding: 0 5px;
  font-weight: 600;
}
